<h1>Chat App Home Page</h1>


<% if current_user %>
  <h3><%= "Currently logged in as #{current_user.email}" %></h3>
  <br/>
  <h3><%= link_to 'Log out', destroy_user_session_path, method: :delete %></h3>
<% else %>
  <h3><%= link_to "Log in", new_user_session_path %></h3>
  <h3><%= link_to "Sign up", new_user_registration_path %></h3>
<% end %>

<h3><%= link_to "Start a chatroom", new_chatroom_path %></h3>

<br/><br/><br/>

<h3>
  <% @chatrooms.each do |chatroom| %>
    <%= link_to chatroom.name, chatroom_path(chatroom) %>
    <br/>
  <% end %>
</h3>
